# App Environment
NODE_ENV=development
PORT=4001

# Database Configuration (Docker & Local)
DB_ROOT_PASSWORD=root_password
DB_NAME=toshin_db
DB_USER=user
DB_PASSWORD=password
DB_PORT_EXTERNAL=3307

# Prisma Connection URL (Docker uses 'mysql' hostname)
# Jika jalan lewat Docker: mysql://user:password@mysql:3306/toshin_db
# Jika jalan lokal: mysql://user:password@localhost:3307/toshin_db
DATABASE_URL=mysql://user:password@localhost:3307/toshin_db

# Redis Configuration
REDIS_PASSWORD=redis_password
REDIS_PORT_EXTERNAL=6379
# Docker Redis URL: redis://:redis_password@redis:6379
# Local Redis URL: redis://:redis_password@localhost:6379
REDIS_URL=redis://:redis_password@localhost:6379

# JWT Secrets
JWT_SECRET=yourJwtSecret
JWT_ACCESS_EXPIRATION_MINUTES=60 * 24 # 24 hours
JWT_REFRESH_EXPIRATION_DAYS=7 # 7 days

# Email Configuration
# EMAIL_USER=yourEmail
# EMAIL_PASS=yourEmailAppPassword

# Optional Redis Toggle
REDIS_ENABLED=true
