NODE_ENV=development

DATABASE_URL=

PORT=4001

# EMAIL_USER=yourEmail
# EMAIL_PASS=yourEmailAppPassword

JWT_SECRET=yourJwtSecret
JWT_ACCESS_EXPIRATION_MINUTES=60 * 24 # 24 hours
JWT_REFRESH_EXPIRATION_DAYS=7 # 7 days

REDIS_PASSWORD=yourRedisPassword
REDIS_URL=redis://:yourRedisPassword@localhost:6379
REDIS_ENABLED=true
